*{
  margin: 0;
  padding: 0;
}

div.container{
  margin-left: 40px;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  float: left;
  margin: 5px;
}

div.header {
  background-color: #EEE8AA;
  color: white;
  padding: 10px;
  font-size: 40px;
  padding-top: 20px;
}

div.header img{
  width: 200px;
  height: 200px;
}

div.container {
  padding: 10px;
  font-family: cursive;
  font-size: 20px;
}

body{
    margin: 0;
    text-align: center;
}

.slide{
  max-width: auto;
  height: 600px;
}

.slide1 img,.slide2 img,.slide3 img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 img{
  height: 400px;
  width: 600px;
  animation: fade 12s infinite;
  -webkit-animation: fade 12s infinite;
}

.slide2 img{
  height: 400px;
  width: 600px;
  animation: fade2 12s infinite;
  -webkit-animation: fade2 12s infinite;
}

.slide3 img{
  height: 400px;
  width: 600px;
  animation: fade3 12s infinite;
  -webkit-animation: fade3 12s infinite;
}
    
@keyframes fade {
  0%{opacity: 1}
  33.333%{opacity: 0}
  66.666%{opacity: 0}
  100%{opacity: 1}
}

@keyframes fade2 {
  0%{opacity: 0}
  33.333%{opacity: 1}
  66.666%{opacity: 0}
  100%{opacity: 0}
}

@keyframes fade3 {
  0%{opacity: 0}
  33.333%{opacity: 0}
  66.666%{opacity: 1}
  100%{opacity: 0}
}

div.p{
  font-family: monospace;
  font-size: 15px;
  text-align: justify;
  padding: 100px;
}

div.header:hover{
   background-color: #DEB887;
}

div h2{
   width: 100%;
   height: auto;
   position:static;
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count:infinite;
}

div.container2{
   background-color: #5F9EA0;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

div.container2 button{
  background-color: #E9967A;
  font-family: cursive;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
}

div.slide{
   display: flex;
   align-self:flex-start;
   margin-right:300px;
   margin-left:400px;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 5s ease-in-out infinite alternate;
}
@-webkit-keyframes glow{
  from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px 3, 0 0 40px #dfb11c, 0 0 50px #f7e707, 0 0 60px #eede05, 0 0 70px #e60073;
       }
        
  to {
      text-shadow: 0 0 20px #fff, 0 0 30px #5f02f3, 0 0 40px #f57a07, 0 0 50px #f37107, 0 0 60px #d83e0f, 0 0 70px #f08102, 0 0 80px #7c057c;
      }
